In [3]:
import pandas as pd

In [4]:
#set source
PollData = "election_data.csv"

In [5]:
#create Database
PollDataDf = pd.read_csv(PollData)

In [6]:
PollDataDf.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [7]:
PollDataDf.describe()
PollDataDf['Voter ID'].count()
PollDataDf.groupby('Candidate').size()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
dtype: int64

In [8]:
candidate = PollDataDf.groupby('Candidate').size()
candidateDf = pd.DataFrame(candidate)
candidateDf

                 0
Candidate
Correy      704200
Khan       2218231
Li          492940
O'Tooley    105630

In [9]:
CandidatePrint =[]

In [10]:
print("Election Results")
print("------------------")
print(f"Total Votes: {PollDataDf['Voter ID'].count()}")
print("------------------")
CandidatePrint = print(candidate)

Election Results
------------------
Total Votes: 3521001
------------------
Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
dtype: int64

count    4.000000e+00
mean     8.802502e+05
std      9.257847e+05
min      1.056300e+05
25%      3.961125e+05
50%      5.985700e+05
75%      1.082708e+06
max      2.218231e+06
dtype: float64