In [1]:
#import packages
import pandas as pd

In [2]:
#set path
BudgetData = "budget_data.csv"

In [3]:
BudgetDataDf = pd.read_csv(BudgetData)
BudgetDataDf["Date"].count()

86

In [4]:
#The total number of months included in the dataset

BudgetDataDf.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
#Create a new column for Monthly Profit/Loss changes
ProfitChange = BudgetDataDf["Profit/Losses"].diff()
BudgetDataDf["Budget Changes"] = ProfitChange

In [6]:
#The average of the changes in "Profit/Losses" over the entire period
BudgetDataDf["Budget Changes"].mean()

-2315.1176470588234

In [7]:
#The greatest increase in profits (date and amount) over the entire period

GreatestIncAmount = BudgetDataDf['Budget Changes'].max()
GreatestIncLocation = BudgetDataDf.loc[BudgetDataDf['Budget Changes'] == BudgetDataDf['Budget Changes'].max()]
GreatestIncLocation.drop(columns = ['Profit/Losses'])

        Date  Budget Changes
25  Feb-2012       1926159.0

In [27]:
#The greatest decrease in losses (date and amount) over the entire period
GreatestDcrAmount = BudgetDataDf['Budget Changes'].min()
GreatestDcrLocation = BudgetDataDf.loc[BudgetDataDf['Budget Changes'] == BudgetDataDf['Budget Changes'].min(), :]

In [28]:
print("Financial Analysis")
print("-------------------")
print(f"Total Months: {BudgetDataDf['Date'].count()}")
print(f"Average Change: ${BudgetDataDf['Budget Changes'].mean()}")
print(f"The greatest increase value: ${int(GreatestIncAmount)}  {GreatestIncLocation['Date']}")
print(f"The greatest decrease value: ${int(GreatestDcrAmount)}  {GreatestDcrLocation['Date']}")

Financial Analysis
-------------------
Total Months: 86
Average Change: $-2315.1176470588234
The greatest increase value: $1926159  25    Feb-2012
Name: Date, dtype: object
The greatest decrease value: $-2196167  44    Sep-2013
Name: Date, dtype: object

In [10]:
print(f"The greatest increase value: {GreatestIncLocation}")

The greatest increase value:         Date  Profit/Losses  Budget Changes
25  Feb-2012        1170593       1926159.0

In [11]:
GreatestIncLocation.drop(columns = ['Profit/Losses'])

        Date  Budget Changes
25  Feb-2012       1926159.0

In [17]:
BudgetDataDf.where(BudgetDataDf['Profit/Losses'] > 0 )

        Date  Profit/Losses  Budget Changes
0   Jan-2010       867884.0             NaN
1   Feb-2010       984655.0        116771.0
2   Mar-2010       322013.0       -662642.0
3        NaN            NaN             NaN
4   May-2010       310503.0        379920.0
..       ...            ...             ...
81  Oct-2016       102685.0       -665765.0
82  Nov-2016       795914.0        693229.0
83  Dec-2016        60988.0       -734926.0
84  Jan-2017       138230.0         77242.0
85  Feb-2017       671099.0        532869.0

[86 rows x 3 columns]

867884
984655
322013
310503
522857
1033096
604885
477532
893810
779806
697845
793163
485070
584122
62729
668179
899906
834719
132003
309978
1170593
252788
1151518
817256
570757
506702
475062
779976
144175
542494
359333
321469
67780
471435
565603
872480
789480
999942
268997
1150461
682458
617856
824098
581943
132864
448062
689161
800701
1166643
947333
578668
988505
1139715
1029471
687533
158620
87795
423389
840723
568529
332067
989499
778237
650000
757143
445709
712961
569899
768450
102685
795914
60988
138230
671099