In [133]:
#import packages
import pandas as pd

In [134]:
#set path
BudgetData = "budget_data.csv"

In [135]:
BudgetDataDf = pd.read_csv(BudgetData)
BudgetDataDf["Date"].count()

86

In [136]:
#The total number of months included in the dataset
print(f"Total Months {BudgetDataDf['Date'].count()}")
BudgetDataDf.head()

Total Months 86

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [173]:
#Create a new column for Monthly Profit/Loss changes
ProfitChange = BudgetDataDf["Profit/Losses"].diff()
BudgetDataDf["Budget Changes"] = ProfitChange

In [177]:
#The average of the changes in "Profit/Losses" over the entire period
BudgetDataDf["Budget Changes"].mean()

-2315.1176470588234

In [175]:
#The greatest increase in profits (date and amount) over the entire period

GreatestIncAmount = BudgetDataDf['Budget Changes'].max()
GreatestIncLocation = BudgetDataDf.loc[BudgetDataDf['Budget Changes'] == BudgetDataDf['Budget Changes'].max()]
print(f"The greatest increase value of ${GreatestIncAmount} happened on {GreatestIncLocation['Date']}")

The greatest increase value of $1926159.0 happened on 25    Feb-2012
Name: Date, dtype: object

In [176]:
#The greatest decrease in losses (date and amount) over the entire period
GreatestDcrAmount = BudgetDataDf['Budget Changes'].min()
GreatestDcrLocation = BudgetDataDf.loc[BudgetDataDf['Budget Changes'] == BudgetDataDf['Budget Changes'].min()]
print(f"The greatest decrease value of ${GreatestDcrAmount} happened on {GreatestDcrLocation['Date']}")

The greatest decrease value of $-2196167.0 happened on 44    Sep-2013
Name: Date, dtype: object

       Profit/Losses  Budget Changes
count   8.600000e+01    8.500000e+01
mean    4.463090e+05   -2.315118e+03
std     5.363579e+05    7.634372e+05
min    -1.196225e+06   -2.196167e+06
25%     1.821620e+05   -3.686650e+05
50%     5.703280e+05    7.724200e+04
75%     7.952262e+05    3.983190e+05
max     1.170593e+06    1.926159e+06

In [190]:
print("Financial Analysis")
print("-------------------")
print(f"Total Months {BudgetDataDf['Date'].count()}")
print(f"Average Change: ${BudgetDataDf['Budget Changes'].mean()}")
print(f"The greatest increase value of ${int(GreatestIncAmount)} happened on {GreatestIncLocation['Date']}")
print(f"The greatest decrease value of ${int(GreatestDcrAmount)} happened on {GreatestDcrLocation['Date']}")

Financial Analysis
-------------------
Total Months 86
Average Change: $-2315.1176470588234
The greatest increase value of $1926159 happened on 25    Feb-2012
Name: Date, dtype: object
The greatest decrease value of $-2196167 happened on 44    Sep-2013
Name: Date, dtype: object

In [188]:
int(GreatestIncAmount)

1926159